body {
  background-color: black;
}

.App {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  height: 90vh;
  width: 60vw;
  background-color: rgb(120, 0, 211);
  border-radius: 20px;
  padding-top: 25px;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.green{
  color: green;
}

.App1 {
  margin-right: auto;
  margin-left: auto;
  height: 80vh;
  width: 57vw;
  background-color: rgba(0, 0, 0);
  border-radius: 20px;
  padding-top: 27px;
}

.App2 {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  height: 70vh;
  width: 45vw;
  background-color: gray;
  border-radius: 20px;
}

.box1 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 45vw;
  height: 55vh;
  background-color: gray;
  overflow: scroll;
}

.box2 {
  background-color: rgb(255, 255, 255, 0.7);
  height: 15vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
}

img {
  width: 12vw;
}

.inner {
  display: flex;
  flex-direction: row;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.pokedex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box2a {
  width: 55vw;
  border: 2px solid black;
}

.box2b {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 20vw;
  border: 2px solid black;
}

button {
  font-size: 14pt;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  cursor: pointer;
}

.pokemonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.battle {
  display: flex;
  flex-direction: column;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d841b5t-d14186ca-887a-4f10-b4ca-b16d5aaff49a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDg0MWI1dC1kMTQxODZjYS04ODdhLTRmMTAtYjRjYS1iMTZkNWFhZmY0OWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5Pv6KPt53igISARqXxlqkRR4qtwKEB3LhHLyc1OQ9Wo");
  align-items: stretch;
}

.players1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.p1stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.players2 {
  display: flex;
  margin-left: 100px;
  flex-direction: row;
  align-items: space;
  justify-content: start;
}

.p2stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greetings {
  text-align: center;
  font-size: 14pt;
  overflow: scroll;
  width: 100%;
  height: 10vh;
}

.fightButton {
  display: flex;
  justify-content: center;
}

.fight {
  border: 2px solid black;
  background-color: white;
}

.potion {
  width: 1.5vw;
}

.maxhealthbar {
  position: relative;
  height: 2vh;
  border-radius: 20px;
}

.healthbar {
  background: rgb(71, 167, 71);
  height: 100%;
  border-radius: inherit;
  transition: width 0.5s ease-in;
}

.groupPoke {
  display: flex;
  justify-content: center;
}

.profOak {
  margin-left: 17vw;
}

.newPokemon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lab {
  margin-top: 12vh;
}

.pokeball {
  width: 5vw;
  padding-left: 2vw;
}

.npcImg {
  animation-name: walk;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.box1{
  background-color: gray;
}

.fx {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.userImg {
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* position: absolute; */
}


.white {
  color: white;
}
.animate1 {
  margin-left: 30%;
  position: absolute;
}

.animate2 {
  position: absolute;
}

@keyframes attack {
  50% {
    margin-right: 5%;
  }
}

@keyframes walk {
  22% {
    margin-right: 1%;
  }
}

@keyframes jump {
  75% {
    margin-top: 0.9%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}
